{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ShutterBug</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'Main/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'Main/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'Main/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'Main/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'Main/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/lightgallery.min.css' %}">    

  <link rel="stylesheet" href="{% static 'Main/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'Main/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/swiper.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <!-- Welcome {{photographerdata.photographer_name}}<br><br> 
    <a href="{% url 'webphotographer:MyProfile' %}">My Profile</a><br>
    <a href="{% url 'webphotographer:EditProfile' %}">Edit Profile</a><br>
    <a href="{% url 'webphotographer:ChangePassword' %}">Change Password</a><br>
    <a href="{% url 'webphotographer:Post' %}">Post</a><br>
    <a href="{% url 'webphotographer:SendComplaint' %}">Send Complaint</a><br>
    <a href="{% url 'webphotographer:SendFeedback' %}">Send Feedback</a><br>
    <a href="{% url 'webphotographer:SearchEditor' %}">Search Editor</a><br>
    <a href="{% url 'webphotographer:SearchModel' %}">Search Model</a><br>
    <a href="{% url 'webphotographer:ViewEditorBooking' %}">View Editor Booking</a><br>
    <a href="{% url 'webphotographer:ViewModelBooking' %}">View Model Booking</a><br>
    <a href="{% url 'webphotographer:ViewUserBooking' %}">View User Booking</a><br>
    <a href="{% url 'webphotographer:AcceptedUser' %}">Accepted User Booking</a><br>
    <a href="{% url 'webphotographer:RejectedUser' %}">Rejected User Booking</a><br> -->

    <header class="site-navbar py-3" role="banner">

        <div class="container-fluid">
          <div class="row align-items-center">
  
            <div class="col-6 col-xl-2" data-aos="fade-down">
              <h1 class="mb-0"><a href="{% url 'webphotographer:Homepage' %}" class="text-white h2 mb-0">ShutterBug</a></h1>
            </div>
            <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
              <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
                  <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                      <li class="active"><a href="{% url 'webphotographer:Homepage' %}">Home</a></li>
                      <li class="has-children">
                          <a href="#">Profile</a>
                          <ul class="dropdown">
                              <li><a href="{% url 'webphotographer:MyProfile' %}">My Profile</a></li>
                              <li><a href="{% url 'webphotographer:EditProfile' %}">Edit Profile</a></li>
                              <li><a href="{% url 'webphotographer:ChangePassword' %}">Change Password</a></li>
                              <!-- <li><a href="#">Architecture</a></li>
                              <li><a href="#">Animals</a></li>
                              <li><a href="#">Sports</a></li>
                              <li><a href="#">Travel</a></li>
                              <li class="has-children">
                                  <a href="#">Sub Menu</a>
                                  <ul class="dropdown">
                                      <li><a href="#">Menu One</a></li>
                                      <li><a href="#">Menu Two</a></li>
                                      <li><a href="#">Menu Three</a></li>
                                  </ul>
                              </li>-->
                          </ul>
                      </li>
                      <li class="has-children">
                        <a >Search</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'webphotographer:SearchEditor' %}">Editor</a></li>
                            <li><a href="{% url 'webphotographer:SearchModel' %}">Model</a></li>
                        </ul>
                      </li>
                      <li class="has-children">
                        <a >Booking</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'webphotographer:ViewEditorBooking' %}">View Editor Booking</a></li>
                            <li><a href="{% url 'webphotographer:ViewModelBooking' %}">View Model Booking</a></li>
                        </ul>
                      </li>
                      <li class="has-children">
                          <a >Request</a>
                          <ul class="dropdown">
                              <li><a href="{% url 'webphotographer:ViewUserBooking' %}">Booking Request</a></li>
                              <li><a href="{% url 'webphotographer:AcceptedUser' %}">Accepted User</a></li>
                              <li><a href="{% url 'webphotographer:RejectedUser' %}">Rejected User Booking</a></li>
                          </ul>
                      </li>
                      <li><a href="{% url 'webphotographer:Post' %}">Post</a></li>
                      <li><a href="{% url 'webphotographer:SendComplaint' %}">Complaint</a></li>
                      <li><a href="{% url 'webphotographer:SendFeedback' %}">Feedback</a></li>
                  </ul>
              </nav>
          </div>
          
  
            <div class="col-6 col-sm-1 offset-sm-1 text-center " data-aos="fade-down">
              <!-- <div class="d-none d-xl-inline-block">
                <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                  <li>
                    <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  </li>
                  <li>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  </li>
                  <li>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  </li>
                  <li>
                    <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                  </li>
                </ul> -->
                <div class="login-box" style="border: 1px solid #1ae795; padding: 10px;">
                  <a href="{% url 'webguest:Logout' %}" class="login-link">Logout</a>
                </div>
                 
              </div>
  
              <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
  
            </div>
  
          </div>
        </div>
        
      </header>

      {% block content %}

      {% endblock content %}

    </div>
  
    <script src="{% static 'Main/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery-ui.js' %}"></script>
    <script src="{% static 'Main/js/popper.min.js' %}"></script>
    <script src="{% static 'Main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'Main/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'Main/js/swiper.min.js' %}"></script>
    <script src="{% static 'Main/js/aos.js' %}"></script>
    
    <script src="{% static 'Main/js/picturefill.min.js' %}"></script>
    <script src="{% static 'Main/js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'Main/js/main.js' %}"></script>
    
    <script>
      $(document).ready(function(){
        $('#lightgallery').lightGallery();
      });
    </script>
    
    </body>
    </html>