{% extends 'Photographers/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View More</title>
</head>
<body>
    <form name="frmViewMore" method="post" action="" enctype="multipart/form-data">
        <div>
            <div>
                <div>Image</div>
                <div>Caption</div>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock content %}