{% extends 'Photographers/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Model Booking</title>
    <style>
        th {
            background-color: #1ae795;
            color: #000;
        }

        h1 {
            text-align: center;
            color: #fff; /* White heading color */
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <form name="fromviewmodelbooking" method="post" action="" enctype="multipart/form-data">
        <br>
        <h1>Model Booking</h1>
        {% csrf_token %}
        <table border="2" align="center" cellpadding="10">
            <tr>
                <th>Sl.No</th>
                <th>Model Name</th>
                <th>Photo</th>
                <th>Contact</th>
                <th>Email</th>
                <th>For Date</th>
                <th>Description</th>
                <th>Booked Date</th>
                <th>Status</th>
                
            </tr>
            {% for i in bookingdata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.model_id.model_name}}</td>
                <td><a href="{{i.model_id.model_photo.url}}"><img src="{{i.model_id.model_photo.url}}" height="200" width="200" alt=""> </a></td>
                <td>{{i.model_id.model_contact}}</td>
                <td>{{i.model_id.model_email}}</td>
                <td>{{i.booking_date}}</td>
                <td>{{i.mbooking_description}}</td>
                <td>{{i.booked_date}}</td>
                <td>{% if i.mbooking_vstatus == 0 %}
                    Not Confirmed
                    {% elif i.mbooking_vstatus == 1 %}
                    Accepted <a href="{% url 'webphotographer:MPayment' i.id%}">Pay Now</a>
                    {% elif i.mbooking_vstatus == 3 %}
                    Payment Completed 
                    {% else %}
                    Rejected
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>
    </form>
</body>
</html>
{% endblock content %}