{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ShutterBug</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'Main/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'Main/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'Main/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'Main/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'Main/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/lightgallery.min.css' %}">    

  <link rel="stylesheet" href="{% static 'Main/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'Main/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/swiper.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <!-- Welcome {{modeldata.model_name}}<br><br>
    <a href="{% url 'webmodel:MyProfile' %}">My Profile</a><br>
    <a href="{% url 'webmodel:EditProfile' %}">Edit Profile</a><br>
    <a href="{% url 'webmodel:ChangePassword' %}">Change Password</a><br>
    <a href="{% url 'webmodel:ModelPost' %}">Post</a><br>
    <a href="{% url 'webmodel:SendComplaint' %}">Send Complaint</a><br>
    <a href="{% url 'webmodel:SendFeedback' %}">Send Feedback</a><br>
    <a href="{% url 'webmodel:ViewPhotographerBooking' %}">View Photographer Booking</a><br>
    <a href="{% url 'webmodel:AcceptedPhotographer' %}">Accepted Photographer Booking</a><br>
    <a href="{% url 'webmodel:RejectedPhotographer' %}">Rejected Photographer Booking</a><br> -->

    <header class="site-navbar py-3" role="banner">

        <div class="container-fluid">
          <div class="row align-items-center">
  
            <div class="col-6 col-xl-2" data-aos="fade-down">
              <h1 class="mb-0"><a href="{% url 'webmodel:Homepage' %}" class="text-white h2 mb-0">ShutterBug</a></h1>
            </div>
            <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
              <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
                  <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                      <li class="active"><a href="{% url 'webmodel:Homepage' %}">Home</a></li>
                      <li class="has-children">
                          <a href="#">Profile</a>
                          <ul class="dropdown">
                              <li><a href="{% url 'webmodel:MyProfile' %}">My Profile</a></li>
                              <li><a href="{% url 'webmodel:EditProfile' %}">Edit Profile</a></li>
                              <li><a href="{% url 'webmodel:ChangePassword' %}">Change Password</a></li>
                              <!-- <li><a href="#">Architecture</a></li>
                              <li><a href="#">Animals</a></li>
                              <li><a href="#">Sports</a></li>
                              <li><a href="#">Travel</a></li>
                              <li class="has-children">
                                  <a href="#">Sub Menu</a>
                                  <ul class="dropdown">
                                      <li><a href="#">Menu One</a></li>
                                      <li><a href="#">Menu Two</a></li>
                                      <li><a href="#">Menu Three</a></li>
                                  </ul>
                              </li> -->
                          </ul>
                      </li>
                      <li class="has-children">
                          <a href="#">Request</a>
                          <ul class="dropdown">
                              <li><a href="{% url 'webmodel:ViewPhotographerBooking' %}">Booking Request</a></li>
                              <li><a href="{% url 'webmodel:AcceptedPhotographer' %}">Accepted Photographer</a></li>
                              <li><a href="{% url 'webmodel:RejectedPhotographer' %}">Rejected Photographer</a></li>
                          </ul>
                      </li>
                      <li><a href="{% url 'webmodel:ModelPost' %}">Post</a></li>
                      <li><a href="{% url 'webmodel:SendComplaint' %}">Complaint</a></li>
                      <li><a href="{% url 'webmodel:SendFeedback' %}">Feedback</a></li>
                  </ul>
              </nav>
          </div>
          
  
            <div class="col-6 col-sm-1 offset-sm-1 text-center " data-aos="fade-down">
              <!-- <div class="d-none d-xl-inline-block">
                <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                  <li>
                    <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  </li>
                  <li>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  </li>
                  <li>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  </li>
                  <li>
                    <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                  </li>
                </ul> -->
                <div class="login-box" style="border: 1px solid #1ae795; padding: 10px;">
                  <a href="{% url 'webguest:Logout' %}" class="login-link">Logout</a>
                </div>
                 
              </div>
  
              <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
  
            </div>
  
          </div>
        </div>
        
      </header>
      

    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
        <div class="row">
          <div class="col-lg-4">
  
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">Nature</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_1.jpg' %}" alt="Image" class="img-fluid">
            </div>
  
          </div>
          <div class="col-lg-4">
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">Portrait</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_2.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">People</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_3.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
  
          <div class="col-lg-4">
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">Architecture</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_4.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
  
          <div class="col-lg-4">
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">Animals</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_5.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
  
          <div class="col-lg-4">
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">Sports</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_6.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
  
          <div class="col-lg-4">
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">Travel</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_7.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
  
          <div class="col-lg-4">
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">People</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_3.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
  
          <div class="col-lg-4">
            <div class="image-wrap-2">
              <div class="image-info">
                <h2 class="mb-3">Architecture</h2>
                <a href="{% url 'webguest:single' %}" class="btn btn-outline-white py-2 px-4">More Photos</a>
              </div>
              <img src="{% static 'Main/images/img_4.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
  
        </div>
      </div>
  
      <div class="footer py-4">
        <div class="container-fluid text-center">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
       
      
    </div>
  
    <script src="{% static 'Main/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery-ui.js' %}"></script>
    <script src="{% static 'Main/js/popper.min.js' %}"></script>
    <script src="{% static 'Main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'Main/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'Main/js/swiper.min.js' %}"></script>
    <script src="{% static 'Main/js/aos.js' %}"></script>
  
    <script src="{% static 'Main/js/picturefill.min.js' %}"></script>
    <script src="{% static 'Main/js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'Main/js/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'Main/js/main.js' %}"></script>
    
    <script>
      $(document).ready(function(){
        $('#lightgallery').lightGallery();
      });
    </script>
  
  </body>
  </html>