{% extends 'Models/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Photographer Booking</title>
    <style>
        th {
            background-color: #1ae795;
            color: #000;
        }

        h1 {
            text-align: center;
            color: #fff; /* White heading color */
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <form name="fromviewphotographerbooking" method="post" action="" enctype="multipart/form-data">
        <br>
        <h1>Booking Request</h1>
        {% csrf_token %}
        <table border="2" align="center" cellpadding="10">
            <tr>
                <th>Sl.No</th>
                <th>Photographer Name</th>
                <th>Photographer Photo</th>
                <th>Contact</th>
                <th>Photographer Email</th>              
                <th>Booked Date</th>
                <th>For Booking</th>
                <th>Description</th>
                <th>Action</th>
                
            </tr>
            {% for i in bookingdata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.photographer_id.photographer_name}}</td>
                <td><a href="{{i.photographer_id.photographer_photo.url}}"><img src="{{i.photographer_id.photographer_photo.url}}" height="200" width="200" alt=""> </a></td>
                <td>{{i.photographer_id.photographer_contact}}</td>
                <td>{{i.photographer_id.photographer_email}}</td>
                <td>{{i.booked_date}}</td>
                <td>{{i.booking_date}}</td>
                <td>{{i.mbooking_description}}</td>
                <td>
                    <a href="{% url 'webmodel:AcceptPhotographer' i.id %}">Accept</a>
                    <a href="{% url 'webmodel:RejectPhotographer' i.id %}">Reject</a></td>
                </td> 
            </tr>
            {% endfor %}

        </table>
    </form>
</body>
</html>
{% endblock content %}